.pytest_cache/
__pycache__
.terraform/
.vagrant/
.terraform.*
terraform.tfstate*
terraform.tfvars
Archive/
ip_addr_challenge.egg-info/
deploy/terraform/proxmox/files/id_master_key.pub
.ansible_vault.pass
.envrc
.vscode/
app.json
