.pytest_cache/
__pycache__
.terraform/
.vagrant/
.terraform.*
terraform.tfstate*
terraform.tfvars
Archive/
ip_addr_challenge.egg-info/
.ansible_vault.pass
.envrc
.env
.vscode/
app.json
cf_vars.yaml
inventory.ini
.DS_Store
