[Unit]
Description=ip-addr challenge application
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory=/home/{{ ansible_user }}/ip-addr/
ExecStart=/usr/local/bin/gunicorn --config ./configs/gunicorn_config.py src.main:app

[Install]
WantedBy=multi-user.target