[Unit]
Description=ip-addr challenge application
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory=/home/{{ ansible_user }}/ip-addr/
ExecStart=/usr/local/bin/gunicorn src.main:app -w 2 --threads 2 -b 0.0.0.0:8000

[Install]
WantedBy=multi-user.target