server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: {{ lookup('env', 'LOKI_ADDRESS') }}
    external_labels:
      host: {{ inventory_hostname }}

scrape_configs:

- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      job: syslog
      __path__: /var/log/syslog
