# Cloudflare (if you want to use a cloudflare tunnel)
# comment out if not using cloudflare tunnel
cloudflare_zone           = "example.com"
cloudflare_zone_id        = ""
cloudflare_account_id     = ""
cloudflare_email          = "user@example.com"
ansible_vars_file         = "/Users/jsmith/ip-addr/ansible/vars/cf_vars.yaml"
service_address           = "http://localhost:5001"
